body {
  margin: 0;
  background-image: url('/public/img/fondo.jpg');
  background-attachment: fixed;
  padding: 1rem 20rem;
}

.conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.encabezado {
  text-align: center;
  color: wheat;
}

.card {
  /* GLASSMORPHISM */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* --- */
  color: wheat;
  padding: 2rem;

}


